@use "@/styles/variables" as *;

.wrapper {
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.2s;

  &:hover {
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
  }
}

.default {
  background-color: $mainOrange;
  color: #fff;

  &:hover {
    background-color: #ff8e3d;
    box-shadow: 0px 0px 15px 5px $mainOrange;
  }
}

.secondary {
  background-color: $secondaryColor;
  color: #fff;

  &:hover {
    background-color: $secondaryHover;
  }
}
